**План**

- Типы данных
- Условия
- Циклы
- Ответы на вопросы

### Встроенные типы данных

- Логический тип: bool

- Числовые типы: int, float, complex

- Последовательности: list, tuple, range

- Строки (строковые последовательности): str

- Бинарные типы: bytes, bytearray, memoryview

- Множества: set, frozenset

- Коллекции: dict

- Пустой тип: None

In [44]:
# Логический тип
a = 7
b = a < 5
b

False

In [ ]:
not
and
or

***

In [4]:
# числовые типы

a = 100
print(type(a))

b = 10.2345
print(type(b))

c = 100 + 3j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [5]:
d = a + b
print(d)
print(type(d))

110.2345
<class 'float'>

***

Последовательность — это упорядоченный набор элементов, в котором каждый элемент идентифицируется своей позицией или индексом.

Последовательности в Python характеризуются возможностью доступа к элементам по индексу и поддержкой различных общих операций, таких как нарезка, объединение и повторение.

Существует три основных типа последовательностей: списки, кортежи и объекты-диапазоны. Дополнительные типы последовательностей: предназначенные для обработки двоичных данных (bytes, bytearray, memoryview) и текстовые строки.

In [49]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1, 10, 2)
my_str = 'Hello'
my_str2 = "Привет"

In [13]:
# нарезка
my_list[2:4]

[3, 4]

In [14]:
my_range[2:4]

range(5, 9, 2)

In [15]:
# объединение
my_tuple+tuple(my_list)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [16]:
my_tuple+my_list

TypeError: can only concatenate tuple (not "list") to tuple

In [51]:
my_list + [6]

[1, 2, 3, 4, 5, 6]

In [52]:
my_list.append(6)

In [53]:
my_list

[1, 2, 3, 4, 5, 6]

In [18]:
my_str + my_str2

'HelloПривет'

In [19]:
# повторение
print(my_str*3)
print(my_list*3)

HelloHelloHello
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

***

In [20]:
set(my_list*3)

{1, 2, 3, 4, 5}

***

In [21]:
my_dict = {'name': 'Иванов', 'age': 35}
my_dict

{'name': 'Иванов', 'age': 35}

In [22]:
my_dict = dict([('name', 'Иванова'), ('age', 30)])
my_dict

{'name': 'Иванова', 'age': 30}

***

In [58]:
# None
a = None
type(a)

NoneType

In [59]:
isinstance(a, type(None))

True

In [62]:
a is not None

False

In [55]:
isinstance(my_dict, set)

False

### Условия

In [71]:
x = 0

if x > 0:
    print("x положительное число")
elif x < 0:
    print("x отрицательное число")
else:
    print("x равно нулю")

In [26]:
# тернарный оператор
result = "x положительное число" if x > 0 else "x отрицательное число или равно нулю"
print(result)

x положительное число

In [72]:
if x > 0:
    result = "x положительное число"
else:
    result = "x отрицательное число или равно нулю"

Моржовый оператор / оператор слияния (:=) позволяет присваивать значение переменной и проверять его в одном выражении. Обычно он используется в условиях оператора `if` или внутри выражений.

In [27]:
x = 17
y = 3

if (n := x % y) == 0:
    print(f"{x} делится на {y} без остатка")
else:
    print(f"Остаток от деления {x} на {y} равен {n}")

Остаток от деления 17 на 3 равен 2

Моржовый оператор удобен, когда вам нужно выполнить присваивание значения и проверку условия одновременно, что может сделать ваш код более компактным и читаемым.

### Циклы

- for
- while

Дополнительно:
- continue
- break
- else

In [75]:
my_list = [1, 2, 3, 4, 5]
new_lst = []
for item in my_list:
    print(item*2)

2
4
6
8
10

In [29]:
my_range = range(5)

for item in my_range:
    print(item)

0
1
2
3
4

In [30]:
my_set = {1, 2, 3}

for item in my_set:
    print(item)

1
2
3

In [31]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

for key in my_dict:
    print(key)

for key, value in my_dict.items():
    print(key, value)

for value in my_dict.values():
    print(value)

a
b
c
a 1
b 2
c 3
1
2
3

***

Работа с переменными разных типов не отличается не зависимо от того как мы их получили.

Это может быть самостоятельное задание переменных, получение от пользователя или из базы данных.

Ниже рассмотрен пример, когда список получаем как результат чтения из локальной таблицы базы данных (на практике часто работаем с базами данными). Здесь считываем информацию из таблицы `planets` - планеты Солнечной системы.

In [5]:
from sqlalchemy import create_engine, text

# Создание подключения к базе данных
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/solar_system')

# Выполнение запроса
with engine.connect() as conn:
    result = conn.execute(text('SELECT * FROM planets'))
    rows = result.fetchall()
    
# Посмотрим в каком виде мы получили информацию 
# Выводим тип всего набора данных - rows и содержимое первого элемента
print(type(rows), '\n', rows[0])
print('--------------')

for row in rows:
    print(f'Планета {row[1]}', f'открыта {row[3]}' if row[3] else 'известна с древности')

<class 'list'>
 (1, 'Меркурий', 'Земная группа', None, 'Минимальная', False)
--------------
Планета Меркурий известна с древности
Планета Венера известна с древности
Планета Земля известна с древности
Планета Марс известна с древности
Планета Юпитер известна с древности
Планета Сатурн известна с древности
Планета Уран открыта 1781-03-13
Планета Нептун открыта 1846-09-23
Планета Церера открыта 1801-01-01
Планета Плутон открыта 1930-02-18
Планета Хаумеа открыта 2005-07-29
Планета Макемаке открыта 2005-03-31
Планета Эрида открыта 2005-01-05
Планета Седна открыта 2003-11-14
Планета Квавар открыта 2002-06-04
Планета Орк открыта 2004-02-17
Планета Гун-гун открыта 2007-07-17

In [6]:
# Задача на использование continue

# Есть список студентов и их оценок. 
# Надо вывести имена тех студентов, средняя оценка которх выше порогового значения (threshold)
# Если оценок нет или не все оценки числа, то такого студента не рассматриваем

students = [
    {"name": "Alice", "grades": [95, 87, 91]},
    {"name": "Bob", "grades": [78, "A", 85]},
    {"name": "Charlie", "grades": []},
    {"name": "David", "grades": [92, 88, 90]},
    {"name": "Eve", "grades": ["B", 95, 84]}
]

# порог
threshold = 90

# в цикле перебираем список студентов
for student in students:
    # получаем оценки текущего студента
    grades = student.get("grades")
    # если оценок нет или среди оценок есть нечисловые, то пропускаем такого студента
    if not grades or not all(isinstance(grade, int) for grade in grades):
        continue
    # считаем среднее оценок
    average_grade = sum(grades) / len(grades)
    # если среднее оценок выше порога, то выводим имя
    if average_grade > threshold:
        print(student["name"])

Alice

In [34]:
# Пример использования break

# Есть список чисел, надо вывести первое число, которое является квадратом 
numbers = [17, 10, 24, 9, 36, 13]

for number in numbers:
    if number ** 0.5 == int(number ** 0.5):
        print(f"Найденное число: {number}")
        break

Найденное число: 9

In [35]:
# Задача на использование цикла, условий, continue и break

# Определить является ли предложение палиндромом
# За один проход по строке!
# Предложение может содержать разные знаки пунктуации, их пропускаем

s = 'А лис, он умен — крыса сыр к нему носила!'
start, end = 0, len(s) - 1
while start < end:
    startChar, endChar = s[start].lower(), s[end].lower()
    # пропускаем символы, не являющиеся буквами или цифрами
    if startChar.isalnum() and endChar.isalnum():
        if startChar != endChar: 
            print(False)
            break
        else:
            start, end = start + 1, end - 1
            continue
    start, end = start + (not startChar.isalnum()), end - (not endChar.isalnum())
else:
    print(True)

True

### Ещё задачи

**№ 1.** 

Есть список целых чисел и целевое значение. 

Вернуть индексы двух элементов списка, которые в сумме дают целевое значение.

In [7]:
nums = [2, 11, 15, 4, 8, 3, 7]
target = 9

In [8]:
for i in range(len(nums)):
    n = target - nums[i]
    if n in nums[i+1:]:
        print(i, nums.index(n, i+1))
        break

0 6

In [9]:
# через использование словаря
d = {}
for i in range(len(nums)):
    m = target - nums[i]
    if m in d:
        print(d[m], i)
        break
    else:
        d[nums[i]] = i

0 6

In [10]:
d

{2: 0, 11: 1, 15: 2, 4: 3, 8: 4, 3: 5}

**№ 2.** 

Дано две строки s и t. Проверить, что эти строки являются анаграммами.

Анаграмма - слово, образованное путём перестановки букв, составляющих другое слово.

In [39]:
s = 'пила'
t = 'липа'
# эти слова анаграммы, а например, пилла и липпа - не анаграммы

In [40]:
if len(s) == len(t):
    d1 = dict()
    d2 = dict()
    for i in range(len(s)):
        if s[i] in d1:
            d1[s[i]] += 1
        else:
            d1[s[i]] = 1
        if t[i] in d2:
            d2[t[i]] += 1
        else:
            d2[t[i]] = 1
    print(d1 == d2)
else:
    print(False)

True

**№ 3.** 

Дано 2 словаря. В значениях каждого может быть список или скалярное значение. Надо сложить словари так, чтобы сохранились все значения из обоих словарей.

In [12]:
A = {'a': 1,
     'b': [2, 4],
     'c': 3,
     'd': [10, 1],
     'e': 10
    }
B = {'a': 2,
     'b': [3, 5],
     'c': [4, 5],
     'd': 5,
     'f': [1, 2]
    }

In [13]:
C_ = {'a': [1, 2], 
      'b': [2, 4, 3, 5], 
      'c': [3, 4, 5], 
      'd': [10, 1, 5], 
      'e': 10, 
      'f': [1, 2]
     }

In [15]:
# сначала сложим словари
# C = {**A, **B} с версии 3.5
# с версии 3.9
C = A | B
# посмотрим, что получилось
print(C)
# видим, что там где ключи совпадали сохранились только значения из второго словаря
# надо добавить значения из первого словаря
for key, value in A.items():
    if key in B:
        if isinstance(value, list):
            C[key] = value + B[key] if isinstance(B[key], list) else value + [B[key]]
        else:
            C[key] = [value] + B[key] if isinstance(B[key], list) else [value, B[key]]
    else:
         C[key] = value
print(C)

{'a': 2, 'b': [3, 5], 'c': [4, 5], 'd': 5, 'e': 10, 'f': [1, 2]}
{'a': [1, 2], 'b': [2, 4, 3, 5], 'c': [3, 4, 5], 'd': [10, 1, 5], 'e': 10, 'f': [1, 2]}

### Вопросы

### Обратная связь

https://docs.google.com/forms/d/1Xw56u_e6j4bfS-oVXi0EgKpRoilRDMgNQsa4T9HQXiI/viewform?edit_requested=true

<img src="basic_qr.png" style="width: 350px;"/>