In [1]:
import pandas as pd

!pip install psycopg2-binary
!pip install sqlalchemy

In [2]:
pd.__version__

'2.0.3'

### Настройки

In [21]:
conn_str = 'postgresql+psycopg2://skillfactory:cCkxxLVrDE8EbvjueeMedPKt@84.201.134.129:5432/skillfactory'

In [22]:
conn_str

'postgresql+psycopg2://skillfactory:cCkxxLVrDE8EbvjueeMedPKt@84.201.134.129:5432/skillfactory'

In [19]:
# код запроса
# лучше делать всегда через f-строки, чтобы можно было передавать параметры
n = 10
query = f'''select name,
                   type2
            from sql.pokemon
            where type1 = 'Grass' 
                  and hp > 60
            limit {n}
         '''

In [23]:
df = pd.read_sql_query(query, conn_str)
df

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "pokemon" does not exist
LINE 3:             from pokemon
                         ^

[SQL: select name,
                   type2
            from pokemon
            where type1 = 'Grass' and hp > 60
            limit 10
         ]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [24]:
conn_str = 'postgresql+psycopg2://skillfactory:cCkxxLVrDE8EbvjueeMedPKt@84.201.134.129:5432/project_sql'

In [27]:
query = '''select * 
           from public.areas'''

In [28]:
df = pd.read_sql_query(query, conn_str)
df

        id              name
0     2758           Тбилиси
1        8            Майкоп
2     1180          Нерюнгри
3     1240       Новокузнецк
4        2   Санкт-Петербург
...    ...               ...
1357  5043  Звёздный Городок
1358  3934       Воротынск\n
1359  4825             Чемал
1360  3708         Усть-Нера
1361  2432         Каневская

[1362 rows x 2 columns]

In [29]:
conn_str = 'postgresql+psycopg2://skillfactory:cCkxxLVrDE8EbvjueeMedPKt@84.201.134.129:5432/skillfactory'

In [31]:
query = "select * from sql.pokemon where name like '%%liggo%%' "
df = pd.read_sql_query(query, conn_str)
df

    id     name   type1 type2  hp  attack  defense  speed
0  776  Sliggoo  Dragon  None  68      75       53     60

In [32]:
from sqlalchemy import text
query = text("select * from sql.pokemon where name like '%liggo%' ")
pd.read_sql_query(query, conn_str)

    id     name   type1 type2  hp  attack  defense  speed
0  776  Sliggoo  Dragon  None  68      75       53     60